.container
{
	width: 100%;
}
div 
{
	height: 100%;

	}
header
{
	border: 1px solid black;
	height: 100px;		
	background-color: white;
	box-shadow: 5px 5px 4px grey;
	border-radius: 5px 5px 5px 5px ;
	padding: 5px;
	
}
header:hover{
	
;
}
img
{
	max-height: 100%;0
}
h1 
{
	
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-style: italic;
	color: rgba(107, 147, 195,1);
	text-shadow:1px 1px 1px rgba(107, 147, 195,1);

}
#footer 
{
	position: absolute;
	bottom: 5px;
	height: 50px;
	border-radius: 3px 3px 3px 3px ;
	border-radius: 5px 5px 5px 5px ;
	box-shadow: 5px 5px 4px grey;
	border: 1px solid black;
}
a
{
}